* {
  box-sizing: border-box;
}
body {
  background: lightgrey;
  /* margin: 0 auto; */
  padding-bottom: 100vh;
}
textarea, button, input, #result {
  background: none;
  border: solid 1px grey;
  padding: 10px;
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  width: 100%;
  max-width: 100%;
}
body, input, textarea, button {
  color: black;
  font-family: monospace;
  font-size: 18px;
}
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 540px;
  margin: 0 auto;
}
#preview {
  display: none;
}
.preview {
  min-height: 300px;
  /* background: white; */
}
